<table class="table table-striped custab">
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Preço</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tr *ngFor="let data of DataArrayLivros">
    <td>{{data.titulo}}</td>
    <td>{{data.autor}}</td>
    <td>{{data.preco}}</td>
    <td class="text-center"><a class="btn btn-danger btn-xs" (click)="deletar(data.id);"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
  </tr>
</table>
