body {
  margin-top: 50px;
}

.glyphicon {
  margin-right: 10px;
}

.principal {
  
}
.panel-body {
  padding: 0;
}

.panel-body table tr td {
  padding-left: 15px;
}

.panel-body .table {
  margin-bottom: 0;
}
