<link href="http://fonts.googleapis.com/css?family=Arimo:400" rel="stylesheet">

<!-- <div class="menu" id="menu">
  <ul class="list-inline" *ngFor="let data of DataArray">
    <li><a href="{{data.url}}">{{data.desc}}</a>
      <ul class="submenu" *ngFor="let submenu of data['sub']; let i=index">
        <li><a href="{{submenu.url}}">{{submenu.desc}}</a>
          <ul class="submenu2" *ngFor="let submenu2 of submenu['sub']; let i=index">
            <li><a href="{{submenu2.url}}">{{submenu2.desc}}</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="panel-group" id="accordion" *ngFor="let data of DataArray">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title principal">
                <a data-toggle="collapse" routerLink="{{data.url}}" data-parent="#accordion" href="#collapseOne">
                  {{data.desc}}
                </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>

                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default" *ngFor="let submenu of data['sub']; let i=index">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" routerLink="{{submenu.url}}" data-parent="#accordion" href="#collapseOne">
                  {{submenu.desc}}
                </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" *ngFor="let submenu2 of submenu['sub']; let i=index">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>
                    <a href="{{submenu2.url}}">{{submenu2.desc}}</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <cadastrar></cadastrar>
      <listar></listar>
    </div>
  </div>
</div>
