<div class="form-area">
  <form [formGroup]="cadForm" action="" method="post">
    <br style="clear:both">
    <h3 style="margin-bottom: 25px; text-align: center;">Cadastrar Livro</h3>
    <div class="form-group">
      <input type="text" formControlName="titulo" class="form-control" id="titulo" name="titulo" placeholder="Título" (keypress)="_keyPressText($event)">
    </div>
    <div class="form-group">
      <input type="text" formControlName="autor" class="form-control" id="autor" name="autor" placeholder="Autor" (keypress)="_keyPressText($event)">
    </div>
    <div class="form-group">
      <input type="number" formControlName="preco" class="form-control" id="preco" name="preco" placeholder="Preço" pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
    </div>

    <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" (click)="salvar()">Cadastrar</button>
  </form>
</div>
